
.demos-page{
        display: flex;
        flex-direction: column;
        gap: 129px;
        width: 100%;
    }

    .demo-form{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 100%;
        align-items: center;
        gap: 30px;
        background: var(--ug-grey);
            border-radius: 6px;
            padding: 10px 0px;
            min-height: 200px;
    }
.upload-btn {
    background-color: red;
    border-radius: 50%;

    border: rgb(58, 58, 58) 8px solid;
}
#isUploading{
    animation: borderAnimation 1s infinite ease-in-out;
}

@keyframes borderAnimation {
    0% {
        border-width: 8px;
    }

    50% {
        border-width: 16px;
    }

    100% {
        border-width: 8px;
    }
}
.loading-btn{
    margin: 0px auto;
    display: flex;
    flex-direction: column;

}

.record-container input {
    border: 3px rgb(58, 58, 58) solid;
    z-index: 10;
    padding-left: 4px;
}
#pre-upload{
    transition: background-color 0.5s ease;
}


@keyframes blinkAnimation {
    50% {
        background-color: red;
    }
}

#pre-upload:hover{
    cursor: pointer;
        background-color: rgb(58, 58, 58);
            animation: blinkAnimation 1s infinite;
}



.demo-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-size: 20px;
}





.custom-shape-divider-bottom-1689291612 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
    border-radius: 9px;
}

.custom-shape-divider-bottom-1689291612 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689291612 .shape-fill {
    fill: #B3B3B3;
}
.empty-demos{
    position: relative;
    height: 400px;
}

.empty-demos img {
    width: 300px;
    transition: rotate 1.0s ease;
    animation: rotateGuitar 2.7s infinite;
    rotate: -107deg;
    padding: 30px;
    position: relative;
}


@keyframes rotateGuitar {
    50% {
        rotate: 11deg;
    }
}
