.record-container #btn+label:before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 130px;
    height: 130px;
    margin: -65px -65px;
    content: "";
    -webkit-transform: translate(-6px, -6px);
    -ms-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
    border-radius: 50%;
    border: 6px solid #fff;
    cursor: pointer;
}
.record-container {
    /* position: relative;
    left: 90%;
    top: 50%; */
    /* width: 170px;
    height: 170px; */
    /* margin: -85px -85px; */
}
.record-container #btn+label:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px -50px;
    content: "";
    border-radius: 50px;
    background: #e80415;
    cursor: pointer;
}
.demos-page{
        display: flex;
        flex-direction: column;
        gap: 129px;
        padding: 20px;
        width: 100%;
    }

    .demo-form{
        position: relative;

    }
