.landing-page{
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 20px;
        font-size: 14px;
            font-weight: 300;
    }

.top-hits{
    width: 100%;
}
.top-hits-body{
    width: 100%;
    display: flex;

}

#top-hits-img{
    object-fit: cover;
}
.categories-published{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
.categories-published th{
    padding-right: 7px !important;
    font-size: 12px;
    }

    .landing-page  h3 {
        background-color: var(--ug-grey);
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 7px;

    }

    .songsheet-link{
        color: var(--ug-yellow);
        text-decoration: underline;
    }
.landing-page th {
    padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 30px;
        text-align: left;
        color: #898989;
}
