/* TODO Add site wide styles */
:root {
    --background-color: #111;
    --border-text-color: #ddc;
    --ug-grey: #929292;
    --ug-light-grey: #a7a796;
    --ug-yellow: #ffc600;
    --ug-red: #ff5d55;
    --white-background: #f8f8f8;
    --modal-background: #1f1f1f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

#root {
    width: 90%;
    margin: 0px auto;
    border: solid 2px var(--ug-grey);
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    color: var(--border-text-color);
    background-color: var(--background-color);

}

.main {
    display: flex;
    width: 100%;
    position: relative;
}

a {
    color: var(--border-text-color);
    text-decoration: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#guitar-spin {
    animation: spin 1.3s linear infinite;
    margin: 0px auto;
    width: 40%;
    position: absolute;
    top: 100px;
    z-index: 100;
}

.loading-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#sidebar-loader{
    width: 180px;
}

.custom-shape-divider-bottom-1687452667 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -10;
}

.custom-shape-divider-bottom-1687452667 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1687452667 .shape-fill {
    fill: var(--modal-background);
}

.custom-shape-divider-top-1687453054 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1687453054 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1687453054 .shape-fill {
fill: var(--modal-background);
}
