/* TODO Add site wide styles */
:root {
    --background-color: #111;
    --border-text-color: #ddc;
    --ug-grey: #929292;
    --ug-light-grey: #a7a796;
    --ug-yellow: #ffc600;
    --ug-red: #ff5d55;
    --white-background: #f8f8f8;
    --modal-background: #1f1f1f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}

#root{
    width: 90%;
    margin: 0px auto;
    border: solid 2px var(--ug-grey);
    display: flex;
    flex-direction: column;
}
body{
    color: var(--border-text-color);
    background-color: var(--background-color);

}
.main{
    display: flex;
    width: 100%;
}

a {
    color: var(--border-text-color);
    text-decoration: none;
}

