.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar {
   height: 73px;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   border-bottom: var(--ug-grey) 1px solid;
 }

 .nav-links{
    display: flex;
    width: 35%;
    justify-content: space-between;
  }

.logo-container{
  background-color: var(--ug-yellow) !important;
  width: fit-content;
  height: 73px;
  padding: 6px 15px ;
  border-radius: 5px;
}

#logo{
  align-items: center;
  width: 40px;
  background-color: none;
}
