.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar {
   height: 73px;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   border-bottom: var(--ug-grey) 1px solid;
   font-weight: 600;
 }
.nav-bar p{
  color: var(--ug-red)
}
.nav-bar p:hover{
  cursor: pointer;
}
 .nav-links{
    display: flex;
    width: 35%;
    justify-content: space-between;
  }

  .nav-links :hover{
    color: white;
  }

.logo-container{
  background-color: var(--ug-yellow) !important;
  width: fit-content;
  height: 73px;
  padding: 6px 15px ;
  border-radius: 5px;
}

#logo{
  align-items: center;
  width: 40px;
  background-color: none;
}
.search-container button{
      padding: 0px 10px;
}
 button{
      padding: 0px 10px !important;
}
button:hover{
      cursor: pointer;
      background-color: var(--modal-background);
}
.search-container{
  position: relative;
}
.results-container{
  background-color: #858585;
  padding: 10px;
  z-index: 100;
  top: 40px;
  position: absolute;
  left: 0;
}
