.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar {
   height: 73px;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   border-bottom: var(--ug-grey) 1px solid;
 }

 .nav-links{
    display: flex;
    width: 35%;
    justify-content: space-between;
  }

.logo-container{
  background-color: var(--ug-yellow) !important;
  width: 200px;
  height: 300px;
}

#logo{
  width: 50%;
  height: 200px;
  object-fit: contain;
  background-color: none;
}
