.signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.signup-form input {
    height: 30px;
    padding: 10px;
    border: 1px solid var(--ug-grey);
    border-radius: 2px;
    background-color: var(--background-color);
}
input{
    color: var(--border-text-color);
}
.signup-modal{
    padding: 15px;
    width: 300px;
    background-color: var(--modal-background);
}
.signup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-times:hover{
    cursor: pointer;
}

.fa-plus:hover{
    cursor: pointer;
    font-size: 10px;

}
.fa-plus{
    position: relative;
    bottom: 1px;
    padding-right: 6px;
    font-size: 12px;
    color: var(--ug-yellow);
}
