.user-setlists{
    padding: 14px;
}
.user-setlists-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#create-setlist:hover{
    color: var(--ug-yellow);
    cursor: pointer;
}

.create-setlist-form{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.create-setlist-form input {
    height: 30px;
    padding: 10px;
    border: 1px solid var(--ug-grey);
    border-radius: 2px;
    background-color: var(--background-color);
    width: 300px;
}
.create-setlist-form > .signup-header {
    color: white;
}

.create-setlist-btn:hover{
    cursor: pointer;
}
.select-link{
    font-weight: 600;
}
.select-link:hover{
    color: var(--ug-yellow);
    text-decoration: underline;
}
