.fa-star{
    color: var(--ug-red);
    font-size: 10px;
}
.table-row {
    position: relative;
}
#table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

}



#table-container td,
#table-container th {
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
}

#table-container .table-row:hover {
    background-color: #898989;
    cursor: pointer;
}
#table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 100px;
    text-align: left;
    color: #898989;
}

.all-songsheets{
    width: 83%;
}

.fa-trash:hover {
    color: red;
    padding-right: 15px;
}

.fa-trash {
    padding-right: 15px;
}
.delete-stock {
    position: absolute;
    right: 10px;
}

.fa-pen:hover{
    color: var(--ug-yellow);
}
