.side-bar {
    display: flex;
    flex-direction: column;
    width: 17%;
    padding: 10px;
    gap: 20px;
    border-right: 1px solid var(--ug-grey);
}


.user-login-signup p {
    padding: 4px 0px;

    text-align: center;
    border-radius: 3px;
}

#signup-btn{
    background-color: var(--ug-yellow);
    color: black;
    margin-bottom: 7px;
}
#login-btn{
    border: 1px solid var(--ug-grey);
}
