.side-bar {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    justify-content: flex-start;
    gap: 20px;
    border-right: 1px solid var(--ug-grey);
    position: relative;
    max-width: 230px;
    min-height: 50vh;
}


.user-login-signup p {

    text-align: center;
    border-radius: 3px;
}
.user-login-signup p:hover {
    cursor: pointer;
}

#signup-btn{
    padding: 4px 0px;
    background-color: var(--ug-yellow);
    color: black;
    margin-bottom: 7px;
}
#login-btn{
    padding: 4px 0px;
    border: 1px solid var(--ug-grey);
}

.fa-github, .fa-linkedin {
    font-size: 60px;
    padding-right: 15px;
}
.fa-github:hover, .fa-linkedin:hover {
    color: var(--ug-yellow);
}

.about {
  display: flex;
    width: 100%;
    margin: 0px auto;
    align-content: center;
    flex-wrap:  wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.side-bar a:hover {
    color: white;
}
